@using Northwind.Models
@model IEnumerable<Customer>

    <h3>Current Customers</h3>
    <ul class="list-group">
        @foreach (Customer customer in Model)
        {
            <li class="list-group-item">
                <h3><strong> @customer.CompanyName</strong></h3>
                <strong>City:</strong> @customer.City 
                <br><strong>Country:</strong> @customer.Country
            </li>
        }
    </ul>

    <hr />
<a asp-action="Register" class="btn btn-primary">Register</a>
